@import url('~antd/lib/style/themes/default.less');
/*
* change these values according to requirement of project
*/

@primary-color: #ff6b6b;
@primary-hover: #ff6b6b;
@blue-base: #ff6b6b;
@error-color: 	#ff0000;
@grey: #808080;
@backgroundGrey: #343541;

@sidebar-bg: #02080d;
@sidebar-select-bg: #343541;
@chat-user-bg: #041219;
@header-bg: #02080d;
@chat-bot-bg: #091b29;

//font-weights
@font-weight-regular: 400;
@font-weight-medium: 500;
@font-weight-bold: 700;

//line-heights
@line-height-base: 1.5715;

